<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Data Time</title>
</head>
<body>

<div class="container">
    <div class="date">
        <a th:href="@{http://localhost:8080/v1/date}">Date Template</a>
    </div>
    <div class="time">
        <a th:href ="@{http://localhost:8080/v1/time}" >Time Template</a>
    </div>
</div>

</body>
</html>